@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
    color: var(--colorLogo);  /* Using the appearance color variable */
  }
  
  @keyframes breathe {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
  
  .breathing {
    animation: breathe 1.5s ease-in-out infinite;
  }